body {
    
}

img{
    width: 100%;
}

h2 {
    text-align: center;
}

.principal {
    background: #c186e4;
    padding: 30px;
}

p {
    text-align: center;
}

em strong {
    color: red;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h3 {
    text-align: center;
}

.imagembeneficios {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}